<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/service">service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/subService">subService</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/About Us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Contact Us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Registration">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/LogIn">LogIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/lecture">lecture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/DashBoard">DashBoard</a>
        </li>

      </ul>



    </div>
  </div>
</nav>
